/* Google Font */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Lobster&family=Open+Sans:wght@400;600;700;800&family=Oswald&family=Poppins:wght@400;500;600;700&family=Roboto:wght@400;700&family=Work+Sans:wght@400;500;600;700&display=swap");

* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.primary-title {
  font-weight: 700;
  font-size: 45px;
  color: #131313;
  margin-bottom: 20px;
}
.primary-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
}
.primary-btn {
  padding: 20px 25px;
  font-weight: 600;
  font-size: 20px;
  margin-top: 33px;
  border: 0;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
}

/* Header and Navigation Area Styles */
header {
  background: rgba(255, 144, 14, 0.1);
  padding: 50px 150px;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 700;
  font-size: 40px;
  color: #131313;
}
nav ul {
  display: flex;
  gap: 55px;
}
nav ul li {
  list-style: none;
  font-weight: 500;
  font-size: 18px;
  color: #424242;
}
nav ul li a {
  text-decoration: none;
}
/* Banner Area Styles */
.banner-info {
  padding: 100px 150px;
  text-align: center;
}
.banner-info .banner-title {
  font-weight: 700;
  font-size: 64px;
  color: #131313;
  margin-bottom: 30px;
}
.banner-img img {
  width: 100%;
  border-radius: 10px;
}
/* Quick List Section Styles */
.quick-list {
  padding: 100px 150px;
  display: flex;
  align-items: center;
  gap: 50px;
}
.quick-list-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}
.quick-list-img img {
  width: 300px;
}

.quick-list-info .primary-title span {
  color: #ff900e;
}

/* Feature Section Styles */
.feature {
  padding: 100px 150px;
}
.feature-main {
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
}
.feature-info {
  margin-bottom: 40px;
}

.title-border {
  border-left: 7px solid #ff900e;
  margin-right: 20px;
}
.feature-single {
  width: 586px;
  padding: 30px;
  background: #ffffff;
  margin-top: 20px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
}
.feature-title {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 10px;
  color: #131313;
}
.feature-img img {
  width: 100%;
}
.feature-btn {
  width: 200px;
  height: 100px;
  padding: 20px 5px 0 5px;
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  position: relative;
  left: -50px;
  top: -80px;
  color: #ffffff;
  background: #ff900e;
  border-radius: 8px;
}
.feature-btn span {
  font-weight: 700;
  font-size: 40px;
}
/* Some facts Section Styles */
.facts {
  padding: 100px 150px;
}
.fact-info {
  display: flex;
  gap: 80px;
  margin-top: 100px;
}
.fact {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 0;
  width: 240px;
  border: 1px solid #ff900e;
  border-radius: 8px;
}
/* .fact:hover {
  transform: rotate(360deg);
} */
.fact img {
  width: 45px;
  height: 45px;
}
.fact-number {
  font-weight: 600;
  font-size: 40px;
  color: #424242;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-title {
  font-weight: 600;
  font-size: 20px;
  color: #727272;
}
/* Brands Logo Section */
.brands {
  padding: 80px 150px;
}
.brand-info {
  text-align: center;
}
.brand-logo {
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.brand img {
  width: 130px;
  height: 50px;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
/* Footer Area Styles */
footer {
  padding: 120px 100px;
}
.footer-info {
  margin: 0 auto;
  background: #fff4e7;
  border-radius: 8px;
  text-align: center;
  padding: 40px 0;
}
.footer-description {
  font-size: 20px;
  color: #424242;
}
